<!--  -->
<template>
    <div class="page-root">

        <div class="form resend" v-if="this.user && !this.user.activated"> <!-- Resend Activation -->
            <div class="wrapper">
                <h2>Resend Activation Email</h2>
                <h3 class="danger">Your account has not been activated.</h3>
                <p>
                    Please check your email for the activation email we sent you after you registered and follow the link contained within. 
                    If you can't find the email, click this button and we'll send a brand new activation email to your email address.
                </p>
                <div class="form-field"><button @click="activateEmail">Send</button></div>
            </div>
        </div>

        <div class="form margin-top password"> <!-- Password -->
            <div class="wrapper">
                <h2>Change Password</h2>
                <div class="form-field">
                    <input type="password" class="form-input dark" placeholder="Old Password" v-model="regPass1" />
                </div>
                <div class="form-field">
                    <input type="password" class="form-input dark" placeholder="New Password" v-model="regPass2" />
                </div>
                <div class="form-field">
                    <input type="password" class="form-input dark" placeholder="Confirm New Password" v-model="regPass3" />
                </div>
                <div class="form-field"><button @click="changePass">Change Password</button></div>
            </div>
        </div>

    </div>
</template>

<script>

    import { eventBus } from '../../../main';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data () {
            return {
				regPass1:'',
				regPass2:'',
				regPass3:'',
            }
        },
        mounted() {
            this.$store.dispatch('setOnline');
            if(!this.online || !this.user) {
                eventBus.$emit('showMessage', 'Warning', 'This page is unavailble while offline or logged out.', 'warning');
                this.$router.push('/');
            }
        },
        computed: {
            ...mapGetters(['online', 'user', 'minPassLength']),
            validPassword() {
                return this.regPass1 && this.regPass2 && this.regPass3 && this.regPass2.length >= this.minPassLength;
            }
        },
        methods: {
            ...mapActions(['setUser']),
			changePass() {
				if(this.validPassword) {
                    if(this.regPass1 !== this.regPass2) {
                    eventBus.$emit('showSpinner');
                        this.$http.post(process.env.SERVER_URL+'user/password', {
                            pass1:this.regPass1,
                            pass2:this.regPass2,
                        },{
                            headers:{ 'x-auth':this.user.token }
                        }).then(ret => {
                            // console.log('ret: ', ret);
                            eventBus.$emit('hideSpinner');
                            eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
                            if(ret.body.status === 'success') {
                                this.regPass = '';
                            }
                        }, err => {
                            console.log('Error: ', err);
                            eventBus.$emit('hideSpinner');
                            eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F1]', 'failed');
                        });
                    } else {
                        eventBus.$emit('showMessage', 'Info', 'The New Password you entered is identical to your Old Password.', 'info');
                    }
				} else {
                    let emptyFields = [];
                    if(!this.regPass1) emptyFields.push('Old Password');
                    if(!this.regPass2) emptyFields.push('New Password');
                    if(!this.regPass3) emptyFields.push('Confirm New Password');

                    if(emptyFields.length > 0) {
                        let msg1 = 'The following required fields were empty: ';
                        emptyFields.forEach((field, i) => {
                            msg1+=field;
                            if(i===emptyFields.length-1) msg1+='.';
                            else msg1+=', ';
                        });
                        eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
                    }

                    if(this.regPass2.length < this.minPassLength) {
                        eventBus.$emit('showMessage', 'Warning', `Please enter a password with a minimum length of ${this.minPassLength} characters.`, 'warning');
                    }
                }
            },
            activateEmail() {
                if(this.online && this.user && !this.user.activated) {
                    eventBus.$emit('showSpinner');
                    this.$http.get(process.env.SERVER_URL+'user/activateEmail', {
                        headers:{ 'x-auth':this.user.token },
                    }).then(ret => {
                        // console.log('ret: ', ret);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
                        if(ret.body.status === 'failed' && ret.body.message === 'Your account has already been activated.') {
                            this.user.activated = true;
                            this.setUser(this.user);
                        }
                    }, err => {
                        console.log('Error: ', err);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F2]', 'failed');
                    });
                } else {
                    eventBus.$emit('showMessage', 'Error', 'Invalid operation.', 'failed');
                }
            }
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.page-root {
		margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
    
    .form { margin: 0 auto; }

    .form.margin-top { margin: 50px auto 0; }

    .form h2,
    .form p { 
        color: #222;
        font-family: 'Ubuntu', cursive; 
    }

    .form h3 { font-family: 'Ubuntu', cursive; }

    .form-field { margin: 10px 0; }

    .form button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        /* .btn */
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .form button:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .forgot-link {
        font-family:'Noto Sans', sans-serif;
        display:block;
        margin-top: 10px;
    }

	.text-center { text-align: center; }
	.text-left { text-align: left; }
	.danger { color: red; }

	/* xs */
	@media only screen and (max-width: 767px) {}

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
	}

	/* xl */
	@media only screen and (min-width: 1280px) {
        .form { width: 65%; }
        .form .wrapper { width: 440px; }
	}

</style>