<!--  -->
<template></template>

<script>

    import { eventBus } from '../../../main';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data () {
            return {}
        },
        mounted() {
            this.$store.dispatch('setOnline');
            if(!this.$route.params.id || !this.online || (this.user && this.user.activated)) {
                if(!this.$route.params.id) eventBus.$emit('showMessage', 'Error', 'No activation token found.', 'failed');
                if(!this.online) eventBus.$emit('showMessage', 'Warning', 'This page is unavailble while offline.', 'warning');
                if(this.user && this.user.activated) eventBus.$emit('showMessage', 'Warning', 'Your account has already been activated!', 'warning');
                
                this.$router.push('/');
            } else {
                eventBus.$emit('showSpinner');
                this.$http.post(process.env.SERVER_URL+'user/activate', { id:this.$route.params.id }).then(ret => {
                    eventBus.$emit('hideSpinner');
                    eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
                    if(ret.body.status === 'success') {
                        ret.body.user.token = ret.headers.get('x-auth');
                        this.setUser(ret.body.user);
                    }
                    this.$router.push('/');
                }, ret => {
                    console.log('Error: ', ret);
                    eventBus.$emit('hideSpinner');
                    eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F1]', 'failed');
                });
            }
        },
        computed: {
            ...mapGetters(['online', 'user']),
        },
        methods: {
            ...mapActions(['setUser']),
        }
    }
</script>
<style scoped></style>
