<!--  -->
<template>
    <div class="page-root">

        <div class="panel">
            <h2 class="text-center" v-if="comp === 'login'">Login</h2>
            <component :is="comp"></component>
            <div class="text-center">
                <a v-if="comp==='login'" @click.prevent="comp = 'forgot'" class="forgot-link" href="#">Forgot Password</a>
                <a v-if="comp==='forgot'" @click.prevent="comp = 'login'" class="forgot-link" href="#">Login</a>
            </div>
        </div>
		
    </div>
</template>

<script>

    import { eventBus } from '../../../main';
    import { mapGetters, mapActions } from 'vuex';

    import forgot from '../../comps/ForgotPassword.vue';
    import login from '../../comps/Login.vue';

    export default {
        components: {
            'forgot':forgot,
            'login':login
        },
        data () {
            return {
                comp:'login'
            }
        },
        created() {},
        mounted() {
            if(!this.online || this.user) {
                eventBus.$emit('showMessage', 'Warning', 'This page is unavailble while logged in or offline.', 'warning');
                this.$router.push('/');
            }
        },
        computed: {
            ...mapGetters(['online', 'user']),
        },
        methods: {
            ...mapActions(['setOnline', 'setUser']),
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

    .text-center { text-align: center; }

    .panel { 
        margin: 0 auto;
        background-color: #222;
        padding: 20px 0;
    }

    .forgot-link,
    .panel h2 {
        color: #f2f2f2;
        font-family: 'Ubuntu', cursive;
        text-decoration: none;
    }

    .forgot-link:hover { text-decoration: underline; }

    /* xs */
	@media only screen and (max-width: 767px) {
        .panel { width: 100%; }
    }

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
        .panel { width: 66%; }
    }

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
        .panel { width: 50%; }
    }

	/* xl */
	@media only screen and (min-width: 1280px) {
        .panel { width: 33%; }
    }

</style>