<!--  -->
<template>
    <div class="page-root">

        <div class="form resend">
            <div class="wrapper">
                <h2>Reset Password</h2>
                <p class="text-left">
                    This is the last step, we promise. Please enter your new password into the fields below and click Reset.
                </p>
                <div class="form-field"> <!-- Password -->
                    <input type="password" class="form-input dark" placeholder="Password" v-model="regPass1" />
                </div>
                <div class="form-field"> <!-- Confirm Password -->
                    <input type="password" class="form-input dark" placeholder="Confirm Password" v-model="regPass2" />
                </div>
                <div class="form-field"><button @click="reset">Reset</button></div>
            </div>
        </div>
		
    </div>
</template>

<script>

    import { eventBus } from '../../../main';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data () {
            return {
				regPass1:'',
				regPass2:'',
            }
        },
        created() {},
        mounted() {
            this.$store.dispatch('setOnline');
            if(!this.$route.params.id || !this.online || this.user) {
                if(!this.$route.params.id) eventBus.$emit('showMessage', 'Error', 'No password reset token found.', 'failed');
                if(!this.online) eventBus.$emit('showMessage', 'Warning', 'This page is unavailble while offline.', 'warning');
                if(this.user) eventBus.$emit('showMessage', 'Warning', 'This page is unavailble while logged in.', 'warning');
                
                this.$router.push('/');
            } else {
                eventBus.$emit('showSpinner');
                this.$http.post(process.env.SERVER_URL+'user/validateResetToken', { token:this.$route.params.id }).then(ret => {
                    eventBus.$emit('hideSpinner');
                    // console.log('ret: ', ret);
                    if(ret.body.status === 'failed') {
                        eventBus.$emit('showMessage', 'Error', 'Password reset token mismatch. Please try repeating the "Forgot Password" process again.', ret.body.status, ret.body.status === 'success');
                        this.$router.push('/');
                    }
                }, err => {
                    console.log('Error: ', err);
                    eventBus.$emit('hideSpinner');
                    eventBus.$emit('showMessage', 'An error has occurred. [F2]', 'failed');
                });
            }
        },
        computed: {
            ...mapGetters(['online', 'user', 'minPassLength']),
        },
        methods: {
            ...mapActions(['setUser']),
			reset() {
				if(this.regPass1 && this.regPass2 && this.regPass1.length >= this.minPassLength && this.regPass1 === this.regPass2) {
                    eventBus.$emit('showSpinner');
                    this.$http.post(process.env.SERVER_URL+'user/resetPassword', {
                        password:this.regPass1,
                        token:this.$route.params.id
                    }).then(ret => {
                        // console.log('ret: ', ret);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
                        if(ret.body.status === 'success') {
                            ret.body.user.token = ret.headers.get('x-auth');
                            this.setUser(ret.body.user);
                            this.$router.push('/');
                        }
                    }, err => {
                        console.log('Error: ', err);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', 'An error has occurred. [F1]', 'failed');
                    });
				} else {

                    let emptyFields = [];
                    if(!this.regPass1) emptyFields.push('Password');
                    if(!this.regPass2) emptyFields.push('Confirm Password');

                    if(emptyFields.length > 0) {
                        let msg1 = 'The following required fields were empty: ';
                        emptyFields.forEach((field, i) => {
                            msg1+=field;
                            if(i===emptyFields.length-1) msg1+='.';
                            else msg1+=', ';
                        });
                        eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
                    }

                    if(this.regPass1.length < this.minPassLength) {
                        eventBus.$emit(
                            'showMessage', 
                            'Warning', 
                            `Please enter a password with a minimum length of ${this.minPassLength} characters.`, 
                            'warning'
                        );
                    }

                    if(this.regPass1 !== this.regPass2) {
                        eventBus.$emit('showMessage', 'Warning', `The passwords you entered don't match.`, 'warning');
                    }
                    // if(!grecaptcha.getResponse()) eventBus.$emit('showMessage', 'Warning', 'Please confirm that you\'re not a robot.', 'warning');
                }
            },
			validEmail: function(string) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(string).toLowerCase());
            }
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.page-root {
		margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
    
    .form { margin: 0 auto; }

    .form.margin-top { margin: 50px auto 0; }

    .form h2,
    .form p { 
        color: #222;
        font-family: 'Ubuntu', cursive; 
    }

    .form h3 { font-family: 'Ubuntu', cursive; }

    .form-field { margin: 10px 0; }

    .form button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        /* .btn */
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .form button:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .forgot-link {
        font-family:'Noto Sans', sans-serif;
        display:block;
        margin-top: 10px;
    }

	.text-center { text-align: center; }
	.text-left { text-align: left; }
	.danger { color: red; }

	/* xs */
	@media only screen and (max-width: 767px) {}

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
	}

	/* xl */
	@media only screen and (min-width: 1280px) {
        .form { width: 65%; }
        .form .wrapper { width: 440px; }
	}

</style>