<!--  -->
<template>
  <div class="page-root">

		<div class="panel text-center">
      <div class="form">
        <h2>Register</h2>
        <!-- <p class="text-left">Thinking about registering an account? Awesome! Simply enter your details below and click Register.</p> -->
        <div class="form-field"> <!-- Name -->
          <input type="text" class="form-input" placeholder="Name" v-model="regName" />
        </div>

        <div class="form-field"> <!-- Surname -->
          <input type="text" class="form-input" placeholder="Surname" v-model="regSurname" />
        </div>

        <div class="form-field"> <!-- Email -->
          <input type="email" class="form-input" placeholder="Email" v-model="regEmail" />
        </div>

        <div class="form-field"> <!-- Password -->
          <input type="password" class="form-input" placeholder="Password" v-model="regPass" />
        </div>

        <div class="form-field recaptcha-field">
          <div id="recaptchaWidget" class="g-recaptcha" :data-sitekey="RECAPTCHA_SITE_KEY"></div>
        </div>

        <div class="form-field">
          <button @click="register">Register</button>
        </div>
      </div>
    </div>
		
  </div>
</template>

<script>
  import { eventBus } from '../../../main';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data () {
      return {
        RECAPTCHA_SITE_KEY: process.env.RECAPTCHA_SITE_KEY,
				regName:'',
				regSurname:'',
				regEmail:'',
        regPass:'',
      }
    },
    created() {},
		mounted() {
      this.$store.dispatch('setOnline');
      if(!this.online || this.user) {
          eventBus.$emit('showMessage', 'Warning', 'This page is unavailble while logged in or offline.', 'warning');
          this.$router.push('/');
      }
      this.initRecaptcha();
    },
		computed: {
      ...mapGetters(['online', 'user', 'minPassLength']),
    },    
		methods: {
      ...mapActions(['setUser']),
			register() {
				if(this.regName && this.regSurname && this.regEmail && this.validEmail(this.regEmail) && this.regPass && this.regPass.length >= this.minPassLength && grecaptcha.getResponse()) {
            eventBus.$emit('showSpinner');
						this.$http.post(process.env.SERVER_URL+'user', {
							firstName:this.regName,
							surname:this.regSurname,
							email:this.regEmail,
              password:this.regPass,
              captcha: grecaptcha.getResponse(),
						}).then(ret => {
              // console.log('ret: ', ret);
              eventBus.$emit('hideSpinner');
              eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
              if(ret.body.status === 'success') {
                ret.body.user.token = ret.headers.get('x-auth');
                this.setUser(ret.body.user);
                this.$router.push('/');
              }
						}, ret => {
							console.log('Error: ', ret);
              eventBus.$emit('hideSpinner');
              eventBus.$emit('showMessage', 'Error', 'An error has occurred. [FE1]', 'failed');
						});
				} else {

          let emptyFields = [];
          if(!this.regName) emptyFields.push('Name');
          if(!this.regSurname) emptyFields.push('Surname');
          if(!this.regEmail) emptyFields.push('Email');
          if(!this.regPass) emptyFields.push('Password');

          if(emptyFields.length > 0) {
            let msg1 = 'The following required fields were empty: ';
            emptyFields.forEach((field, i) => {
              msg1+=field;
              if(i===emptyFields.length-1) msg1+='.';
              else msg1+=', ';
            });
            eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
          }

          if(!this.validEmail(this.regEmail)) eventBus.$emit('showMessage', 'Warning', 'Please enter a valid email address.', 'warning');
         
          if(this.regPass.length < this.minPassLength) {
            eventBus.$emit(
              'showMessage', 
              'Warning', 
              `Please enter a password with a minimum length of ${this.minPassLength} characters.`, 
              'warning'
            );
          }

          if(!grecaptcha.getResponse()) eventBus.$emit('showMessage', 'Warning', 'Please confirm that you\'re not a robot.', 'warning');
				}
			},
			validEmail: function(string) {
        let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(string).toLowerCase());
      },
      initRecaptcha: function() {
        var self = this;
        if(grecaptcha.render) {
          setTimeout(function() {
            if(typeof grecaptcha === 'undefined') {
              self.initRecaptcha();
            } else {
              if(grecaptcha && grecaptcha.render) {
                grecaptcha.render('recaptchaWidget', {
                  sitekey:process.env.RECAPTCHA_SITE_KEY,
                  badge:'inline',
                });
              }
            }
          },100);
        }
      },
		}
  }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

  /*font-family: 'Noto Sans', sans-serif;*/
  /*font-family: 'Ubuntu', cursive;*/
  /*font-family: 'Slabo 13px', serif;*/
  /*font-family: 'Bree Serif', serif;*/

	.text-center { text-align: center; }
	.text-left { text-align: left; }

	.page-root {
		margin-left: auto;
		margin-right: auto;
  }

  .panel {
    margin: 0 auto;
    background-color: #222;
    padding: 20px 0;
  }

  .form {
    width: 80%;
    margin: 0 auto;
  }

  .panel h2 {
    color: #f2f2f2;
    font-family: 'Ubuntu', cursive;
    text-decoration: none;
  }

  .form-field { margin: 10px 0; }

  .recaptcha-field { text-align: center; }
  .g-recaptcha { display: inline-block; }

  button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    /* .btn */
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

    /* xs */
	@media only screen and (max-width: 767px) {
    .panel { width: 100%; }
  }

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
    .panel { width: 66%; }
  }

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
    .panel { width: 50%; }
  }

	/* xl */
	@media only screen and (min-width: 1280px) {
    .panel { width: 33%; }
  }
</style>