<!--  -->
<template>
    <div class="comp-root" v-click-outside="hide">
        <input type="text" @click="show = !show" @keydown.prevent="" v-model="display" />
        <div class="picker">
            <div v-if="show && (this.type === 'date' || this.type === 'datetime')" class="date">
                <div class="date-control-panel text-center">
                    <button type="button" @click="navigate('py')" class="control btn btn-sm gray-back official-3"><font-awesome-icon icon="angle-double-left"></font-awesome-icon></button>
                    <button type="button" @click="navigate('pm')" class="control btn btn-sm gray-back official-3"><font-awesome-icon icon="chevron-left"></font-awesome-icon></button>
                    <h3 class="control">{{ selectedDate.format('MMM, YYYY') }}</h3>
                    <button type="button" @click="navigate('nm')" class="control btn btn-sm gray-back official-3"><font-awesome-icon icon="chevron-right"></font-awesome-icon></button>
                    <button type="button" @click="navigate('ny')" class="control btn btn-sm gray-back official-3"><font-awesome-icon icon="angle-double-right"></font-awesome-icon></button>
                </div>
                <div class="calendar">
                    <div v-for="(lbl, i) in date.weekLabels" class="week-label" :class="{ 'left-border':i===0, 'no-right-border':i===6 }">
                        <span>{{ lbl }}</span>
                    </div>
                    <div v-for="(d, i) in date.calendar" 
                      @click="selectDate(d.date)" 
                      :class="{ 'no-left-border':i%7===0, 'no-right-border':i%7===6, 'no-bottom-border':i>date.calendar.length-8, 'other-month':!d.thisMonth }" 
                      class="day-box">
                        <div class="day-label">{{ d.date.format('D') }}</div>
                    </div>
                </div>
            </div><div v-if="show && (this.type === 'time' || this.type === 'datetime')" class="time">
                <div class="time-header">
                    <font-awesome-icon icon="clock" size="2x"></font-awesome-icon>
                </div>
                <div class="time-wrapper hrs">
                    <button type="button" class="btn gray-back official-1" @click="updateTime('hrs', 'a')"><font-awesome-icon icon="angle-up"></font-awesome-icon></button>
                    <div class="time-picker-hrs">{{ addZeros(time.hrs) }}</div>
                    <button type="button" class="btn gray-back official-1" @click="updateTime('hrs', 's')"><font-awesome-icon icon="angle-down"></font-awesome-icon></button>
                </div>
                <div class="time-wrapper">
                    <button type="button" class="btn gray-back official-1" @click="updateTime('min', 'a')"><font-awesome-icon icon="angle-up"></font-awesome-icon></button>
                    <div class="time-picker-min">{{ addZeros(time.min) }}</div>
                    <button type="button" class="btn gray-back official-1" @click="updateTime('min', 's')"><font-awesome-icon icon="angle-down"></font-awesome-icon></button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import { eventBus } from '../../main';

    export default {
        props:['type', 'defDate', 'defTime'],
        data () {
            return {
                show:false,
                selectedDate:new moment(),
                dateStr:this.defDate || new moment().format('DD/MM/YYYY'),
                time:this.defTime || { hrs:0, min:0 }
            }
        },
        created() {},
        mounted() {},
        computed: {
            display() {
                if(this.type === 'time') return this.addZeros(this.time.hrs)+':'+this.addZeros(this.time.min);
                if(this.type === 'date') return this.dateStr;
                if(this.type === 'datetime') return this.dateStr+' '+this.addZeros(this.time.hrs)+':'+this.addZeros(this.time.min);
            },
            date() {
				let calendar = [];
				let mStart = new moment(this.selectedDate).startOf('month');
				let mEnd = new moment(this.selectedDate).endOf('month').startOf('day');
				let lastMonth = new moment(this.selectedDate).subtract(1, 'month');
				let daysInLastMonth = new moment(lastMonth).daysInMonth();
				let daysLastMonth = parseInt(mStart.format('d'));
				let daysNextMonth = 7-(parseInt(mEnd.format('d'))+1);

				for(let i=daysInLastMonth-daysLastMonth; i<daysInLastMonth; i++) calendar.push({ date:new moment(lastMonth).date(i+1), thisMonth:false });
				for(let i=1; i<=moment(this.selectedDate).daysInMonth(); i++) calendar.push({ date:new moment(this.selectedDate).date(i), thisMonth:true });
				for(let i=1; i<=daysNextMonth; i++) calendar.push({ date:new moment(this.selectedDate).add(1, 'month').date(i), thisMonth:false, });

                return { weekLabels:['S','M','T','W','T','F','S'], calendar:calendar };
			}
        },
        methods: {
            updateTime(int, op) {
                if(op === 'a') this.time[int]++;
                else if(op === 's') this.time[int]--;

                if(this.time['hrs'] > 23) this.time['hrs'] = 0;
                if(this.time['hrs'] < 0) this.time['hrs'] = 23;
                if(this.time['min'] > 59) this.time['min'] = 0;
                if(this.time['min'] < 0) this.time['min'] = 59;

                this.$emit('setDate', this.display);
            },
            selectDate(date) {
                this.dateStr = moment(date).format('DD/MM/YYYY');
                this.show = false;
                this.$emit('setDate', this.display);
			},
            addZeros(no) {
                return no < 10 ? '0'+no.toString() : no.toString();
            },
            navigate(by) {
				switch(by) {
					case 'py':
						this.selectedDate = new moment(this.selectedDate).subtract(1, 'year');
						break;
					case 'pm':
						this.selectedDate = new moment(this.selectedDate).subtract(1, 'month');
						break;
					case 'nm':
						this.selectedDate = new moment(this.selectedDate).add(1, 'month');
						break;
					case 'ny':
						this.selectedDate = new moment(this.selectedDate).add(1, 'year');
						break;
				}
            },
            hide() { this.show = false; }
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.other-month { background-color:#e6e6e6; }
    .text-left { text-align: left; }
    .text-center { text-align: center; }
    .text-right { text-align: right; }

    .comp-root { font-family: 'Ubuntu', cursive; }

    .time-wrapper {
        display: inline-block;
        text-align: center;
    }

    .picker { 
        width: 76%;
        position: absolute; 
        background-color: #fff;
        color: #000;
        z-index: 1000;
    }

    .picker .date,
    .picker .time { 
        display: inline-block; 
        vertical-align: top; 
    }

    .picker .date { width: 71%; }
    .picker .time { width: 29%; }

    .time .time-header {
        color: #6ca8a8;
        margin-bottom: 5px;
    }

    .time-wrapper.hrs { border-left: 1px solid #ccc; }

    .date .calendar {
        display: grid;
		grid-template-columns:repeat(7, 1fr);
    }

    .date .date-control-panel { 
        grid-column: 1 / -1; 
        margin: 5px 0;
    }

    .date .control { vertical-align: middle; }

    .date .date-control-panel h3 { 
        display: inline-block; 
        margin: 0;
    }

    .date .week-label { text-align: center; }
	.date .day-box {
		cursor: pointer;
        text-align: center;
    }
    
    /* xs */
    @media only screen and (max-width: 767px) {
        .time .time-header { padding-left: 7%; }
        .time-wrapper.hrs { padding-left: 7%;}
    }

    /* sm */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .time .time-header { padding-left: 7%; }
        .time-wrapper.hrs { padding-left: 7%;}
    }

    /* lg */
    @media only screen and (min-width: 992px) and (max-width: 1279px) {
        .time .time-header { padding-left: 7%; }
        .time-wrapper.hrs { padding-left: 7%;}

        .date .date-control-panel h3 { font-size: 0.9em; }
    }

    /* lg-xl */
    @media only screen and (min-width: 1280px) and (max-width: 1599px) {
        .time .time-header { padding-left: 10%; }
        .time-wrapper.hrs { padding-left: 10%;}
    }

    /* xl */
    @media only screen and (min-width: 1600px) {
        .time .time-header { padding-left: 15%; }
        .time-wrapper.hrs { padding-left: 15%;}
    }

</style>