<!--  -->
<template>
    <div class="comp-root">
		
        <!-- Control Panel -->
        <div class="control-panel">
            <div class="left" :class="{ third:this.display==='list', half:this.display!=='list' }">
                <button type="button" class="btn dark" title="Back" @click="back"><font-awesome-icon icon="arrow-left"></font-awesome-icon></button>
            </div><div class="middle" :class="{ third:this.display==='list', half:this.display!=='list' }" v-if="display === 'list'">
                <h2>{{ date.date.format('D MMM') }}</h2>
            </div><div class="right" :class="{ third:this.display==='list', half:this.display!=='list' }">
                <button type="button" class="btn blue" title="New" v-if="display !== 'new'" @click="create"><font-awesome-icon icon="plus"></font-awesome-icon></button>
                <button type="button" v-if="display === 'new' || display === 'edit'" @click="save(false)" class="btn" :class="{ 'blue':validEntry, 'red':!validEntry }" title="Save"><font-awesome-icon icon="save"></font-awesome-icon></button>
                <button type="button" class="btn red" title="Delete" v-if="display === 'edit'" @click="remove(false)"><font-awesome-icon icon="trash"></font-awesome-icon></button>
            </div>
        </div>

        <!-- Entry List -->
        <div class="entry-list" :class="{scrollable:date.entries.length > 5}">
            <div v-if="display === 'list'" v-for="(entry, i) in date.entries" @click="edit(i)" :class="entry.type" class="multiple-entry">
                <h4>{{ entry.title }}</h4>
                <p>{{ getDisplayDate(entry) }}</p>
            </div>
        </div>

        <!-- New / Edit -->
        <div v-if="display === 'new' || display === 'edit'" class="form text-center">
            <div class="form-field">
                <input v-model="entry.title" type="text" class="form-input" placeholder="Title" />
            </div>
            <div class="form-field">
                <button class="btn official-4 half-width gray-back" @click="setEntryType('E')" :class="{ active:entry.type==='E' }" type="button" title="Event"><font-awesome-icon icon="calendar"></font-awesome-icon></button>
                <button class="btn official-4 half-width gray-back" @click="setEntryType('R')" :class="{ active:entry.type==='R' }" type="button" title="Reminder"><font-awesome-icon icon="bell"></font-awesome-icon></button>
            </div>
            <div class="form-field">
                <picker v-if="display === 'edit'" type="datetime" :defDate="entry.startDate.format('DD/MM/YYYY')" 
                    :defTime="{ hrs:entry.startDate.format('H'), min:entry.startDate.format('m') }" 
                    @setDate="setDate('startDate', $event)" class="form-input"></picker>
                <picker v-else-if="display === 'new'" type="datetime" :defDate="date.date.format('DD/MM/YYYY')" 
                    @setDate="setDate('startDate', $event)" class="form-input"></picker>
            </div>
            <div class="form-field">
                <picker v-if="entry.type === 'E'" type="datetime" :defDate="entry.endDate.format('DD/MM/YYYY')" 
                        :defTime="{ hrs:entry.endDate.format('H'), min:entry.endDate.format('m') }" @setDate="setDate('endDate', $event)" 
                        class="form-input"></picker>
            </div>
            <div class="form-field">
                <textarea v-model="entry.notes" class="form-input" placeholder="Notes" />
            </div>
        </div>

    </div>
</template>

<script>

	require('../../assets/css/button.css');
	require('../../assets/css/input.css');

    import { eventBus } from '../../main';
    import { mapGetters, mapActions } from 'vuex';

    import picker from './DateTimePicker.vue';

    export default {
        props:['date', 'entryExists'],
        components: {
			'picker':picker,
        },
        data () {
            return {
                index:0,
                display:null,
                entry:{
                    _id:null,
                    createdAt:moment(this.date.date),
                    type:'E',
                    title:null,
                    startDate:moment(this.date.date),
                    endDate:moment(this.date.date),
                    notes:null,
                }
            }
        },
        created() {},
        mounted() {
            this.$store.dispatch('setOnline');
            if(this.date.entries.length === 1) this.edit(0);
            else this.display = this.date.entries.length < 1 ? 'new' : 'list';
        },
        computed: {
            ...mapGetters(['online', 'user']),
            validEntry() {
                return this.entry.type && this.entry.title && this.entry.startDate && ((this.entry.type === 'E' && this.entry.endDate && (this.entry.endDate > this.entry.startDate)) || this.entry.type === 'R');
            },
        },
        methods: {
            // Navigation
            back() {
                if(this.display === 'list') {
                    eventBus.$emit('closePanel');
                } else if(this.display === 'new') {
                    if(this.date.entries.length === 0) eventBus.$emit('closePanel');
                    if(this.date.entries.length === 1) this.edit(this.index);
                    else this.display = 'list';
                } else if(this.display === 'edit') {
                    this.display = 'list';
                }
            },
            create() {
                this.display = 'new';
                this.entry = { _id:null, type:'E', title:null, startDate:moment(this.date.date), endDate:moment(this.date.date), 
                    notes:null, createdAt:moment(this.date.date) };
            },
            edit(i) {
                this.index = i;
                this.display = 'edit';
                this.entry = JSON.parse(JSON.stringify(this.date.entries[this.index]));
                this.entry.startDate = moment(this.entry.startDate);
                if(this.entry.endDate) this.entry.endDate = moment(this.entry.endDate);
                this.entry.createdAt = moment(this.entry.createdAt);
            },

            // API
            save(allowDuplicate) {
                if(this.online && this.user && this.validEntry) {
                    if(this.display === 'edit' || !this.entryExists(this.entry) || allowDuplicate) {
                        eventBus.$emit('showSpinner');
                        if(this.entry.startDate.format('HH:mm:ss') === '00:00:00') this.entry.startDate = this.entry.startDate.add(1, 'second');
                        if(this.entry.endDate && this.entry.endDate.format('HH:mm:ss') === '00:00:00') this.entry.endDate = this.entry.endDate.subtract(1, 'second');
                        this.$http[this.display === 'new' ? 'post' : 'put'](process.env.SERVER_URL+'entry', this.entry, {
                            headers:{ 'x-auth':this.user.token }
                        }).then(ret => {
                            // console.log('ret: ', ret);
                            eventBus.$emit('hideSpinner');
                            eventBus.$emit('showMessage', null, ret.body.message, ret.body.status);
                            if(ret.body.status === 'success') {
                                eventBus.$emit('update', this.display === 'new' ? ret.body.entry : this.entry);
                                eventBus.$emit('closePanel');
                            }
                        }, err => {
                            eventBus.$emit('hideSpinner');
                            eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F1]', 'failed');
                            console.log('Error: ', err);
                        });
                    } else {
                        eventBus.$emit('showMessage', 'Warning', `${this.entry.type === 'E' ? 'An event' : 'A reminder'} with the title "${this.entry.title}" already exists at ${moment(this.entry.startDate).format('HH:mm')} on ${moment(this.entry.startDate).format('dddd, D MMMM')}. Are you sure you want to create a duplicate?`, 
                            'warning', { timeout:3000000, buttons:[{ text:'No', action:null, bold:true, },{ text:'Yes', action:(toast) => { this.save(true); this.$snotify.remove(toast.id); }, 
                            bold:true, }], backdrop:0.5, bodyMaxLength:500 });
                    }
                } else {
                    if(!this.online || !this.user) {
                        eventBus.$emit('showMessage', 'Warning', 'Creating and Updating Entries are unavailable while offline or logged out.', 'warning');
                    } else {
                        let emptyFields = [];
                        if(!this.entry.type) emptyFields.push('Entry Type');
                        if(!this.entry.title) emptyFields.push('Entry Title');
                        if(!this.entry.startDate) emptyFields.push('Start Date');
                        if(this.entry.type && this.entry.type === 'E' && !this.entry.endDate) emptyFields.push('End Date');

                        if(emptyFields.length > 0) {
                            let msg1 = 'The following required fields were empty: ';
                            emptyFields.forEach((field, i) => {
                                msg1+=field;
                                if(i===emptyFields.length-1) msg1+='.';
                                else msg1+=', ';
                            });
                            eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
                        }

                        if(this.entry.type === 'E' && (this.entry.endDate < this.entry.startDate)) {
                            eventBus.$emit('showMessage', 'Warning', 'An Event\'s Start Date has to be before its end date.', 'warning');
                        } else if(this.entry.type === 'E' && (this.entry.endDate.format('DD/MM/YYYY HH:mm:ss') === this.entry.startDate.format('DD/MM/YYYY HH:mm:ss'))) {
                            eventBus.$emit('showMessage', 'Warning', 'An event can\'t start and end at the same moment. Rather use a Reminder.', 'warning');
                        }
                    }
                }
            },
            remove(allowDelete) {
                if(this.online && this.user) {
                    if(allowDelete) {
                        eventBus.$emit('showSpinner');
                        this.$http.delete(process.env.SERVER_URL+'entry', {
                            headers:{ 'x-auth':this.user.token },
                            body:{ id:this.date.entries[this.index]._id, }
                        }).then(ret => {
                            // console.log('ret: ', ret);
                            eventBus.$emit('hideSpinner');
                            // eventBus.$emit('showMessage', null, ret.body.message, ret.body.status);
                            if(ret.body.status === 'success') {
                                eventBus.$emit('update', { _id:ret.body.id });
                                eventBus.$emit('closePanel');
                            }
                        }, err => {
                            eventBus.$emit('hideSpinner');
                            eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F3]', 'failed');
                            console.log('Error: ', err);
                        });
                    } else {

                        eventBus.$emit('showMessage', 'Danger', `You\'re about to permanently delete this ${this.entry.type === 'E' ? 'event' : 'reminder'}. Are you sure?`, 
                            'error', { 
                                timeout:3000000, 
                                buttons:[
                                    { text:'No', action:null, bold:true, },
                                    { text:'Yes', action:(toast) => { 
                                        this.remove(true); 
                                        this.$snotify.remove(toast.id); 
                                    }, 
                                    bold:true, 
                                }], 
                                backdrop:0.5, 
                                bodyMaxLength:500 
                            });

                    }
                } else {
                    eventBus.$emit('showMessage', 'Warning', 'Deleting entries is unavailable while offline or logged out.', 'warning');
                    this.$router.push('/');
                }
            },

            // Utility
            setEntryType(type) {
                if(type === 'R') this.entry.endDate = null;
                else this.entry.endDate = new moment(this.entry.startDate).add(1, 'hour');
                this.entry.type = type;
            },
            setDate(prop, val) { this.entry[prop] = new moment(val, 'DD/MM/YYYY HH:mm'); },
            getDisplayDate(entry) {
                if(entry.type === 'E') {
                    let format = moment.duration(entry.endDate.diff(entry.startDate)).as('days') > 1 ? 'ddd HH:mm' : 'HH:mm';

                    if(entry.endDate.format('HH:mm:ss') === '23:59:59') entry.endDate.add(1, 'second');
                    else entry.endDate;

                    return `${entry.startDate.format(format)} ${entry.endDate ? ' - ' + entry.endDate.format(format) : ''}`;
                } else return `${entry.startDate.format('HH:mm')} ${entry.endDate ? ' - '+entry.endDate.format('HH:mm') : ''}`;
            },
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.text-left { text-align: left; }
	.text-center { text-align: center; }
    .text-right { text-align: right; }
   
    .form {
        width: 80%;
        margin: 0 auto;
    }

    h2, .form p { font-family: 'Ubuntu', cursive; }

    h2 { margin-bottom: 10px; }

    .control-panel { margin: 10px 0; }

    .control-panel .left,
    .control-panel .middle,
    .control-panel .right {
        box-sizing: border-box;
        display: inline-block;
    }

    .half { width: 50%; }
    .third { width: 33%; }

    .control-panel .left { 
        vertical-align: middle;
        text-align: left; 
    }
    .control-panel .middle { 
        vertical-align: middle;
        text-align: center; 
    }
    .control-panel .right { 
        vertical-align: middle;
        text-align: right; 
    }

    .middle h2 { margin: 0; }

    .form-field { margin: 10px 0; }

    .forgot-link {
        font-family:'Noto Sans', sans-serif;
        display:block;
        margin-top: 10px;
    }

    .entry-list.scrollable { 
        height: 87%;
        width: 96.8%;
        overflow-y: scroll;
        position: absolute;
    }

    .entry-list.scrollable .multiple-entry { margin-right: 10px; }

    .multiple-entry {
        border: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;
        text-align: center;
    }
    .multiple-entry.E, .entry.E { border-color: #33ff33; }
    .multiple-entry.R, .entry.R { border-color: #33ccff; }

    .multiple-entry p,
    .multiple-entry h4 { margin: 0; }

    .multiple-entry h4 { font-family: 'Noto Sans', sans-serif; }
    .multiple-entry p {
        color: #bfbfbf;
        font-family: 'Ubuntu', cursive;
        font-style: italic;
        font-size: 0.9em;
        margin-top: 10px;
    }
</style>