<!--  -->
<template>
    <div class="comp-root">

        <div class="form text-center">
            <h2>Forgot Password</h2>

            <p class="text-left">Forgot your password? Enter your email below and we'll send you instructions to reset it.</p>

            <div class="form-field"> <!-- Email -->
                <input type="email" class="form-input" placeholder="Email" v-model="regEmail" />
            </div>

            <div class="form-field recaptcha-field"> <!-- Recaptcha --> 
                <div id="recaptchaWidget" class="g-recaptcha" :data-sitekey="RECAPTCHA_SITE_KEY"></div>
            </div>

            <div class="form-field">
                <button @click="reset">Reset Password</button>
            </div>
        </div>
		
    </div>
</template>

<script>

    import { eventBus } from '../../main';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data () {
            return {
                RECAPTCHA_SITE_KEY:process.env.RECAPTCHA_SITE_KEY,
                regEmail:'',
            }
        },
        created() {},
        mounted() {
            this.$store.dispatch('setOnline');
            this.initRecaptcha();
        },
        computed: {
            ...mapGetters(['online', 'user']),
        },
        methods: {
			reset() {
				if(this.regEmail && this.validEmail(this.regEmail) && grecaptcha.getResponse()) {
                    eventBus.$emit('showSpinner');
                    this.$http.post(process.env.SERVER_URL+'user/resetPassRequest', {
                        email:this.regEmail,
                        captcha: grecaptcha.getResponse(),
                    }).then(ret => {
                        // console.log('ret: ', ret);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
                    }, err => {
                        console.log('Error: ', err);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', 'Warning', 'An error has occurred. [F1]', 'failed');
                    });
				} else {
                    if(!this.regEmail) eventBus.$emit('showMessage', 'Warning', 'Please enter your email address.', 'warning');
                    if(!this.validEmail(this.regEmail)) eventBus.$emit('showMessage', 'Warning', 'Please enter a valid email address.', 'warning');
                    if(!grecaptcha.getResponse()) eventBus.$emit('showMessage', 'Warning', 'Please confirm that you\'re not a robot.', 'warning');
                }
            },
			validEmail: (string) => {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(string).toLowerCase());
            },
            initRecaptcha: function() {
                var self = this;
                if(grecaptcha.render) {
                    setTimeout(function() {
                        if(typeof grecaptcha === 'undefined') {
                            self.initRecaptcha();
                        } else {
                            if(grecaptcha && grecaptcha.render) {
                                grecaptcha.render('recaptchaWidget', {
                                sitekey:process.env.RECAPTCHA_SITE_KEY,
                                badge:'inline',
                                });
                            }
                        }
                    },100);
                }
            },
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.text-center { text-align: center; }
	.text-left { text-align: left; }

    .form {
        width: 80%;
        margin: 0 auto;
    }

    .form h2,
    .form p { 
        font-family: 'Ubuntu', cursive; 
        color: #f2f2f2;
    }

    .form p { padding: 0 4.2%; }

    .form-field { margin: 10px 0; }

    .form button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        /* .btn */
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .form button:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    input, textarea, select {
        height: 30px;
        display: inline-block;
        width: 90%;
        font-family: 'Jura', sans-serif;
        font-weight: 600;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        padding-left:  10px;
        padding-right:  10px;
    }

    input:focus, textarea:focus, select:focus {
        outline-offset: inherit;
        outline: none;
    }

    .forgot-link {
        font-family:'Noto Sans', sans-serif;
        display:block;
        margin-top: 10px;
    }

    .recaptcha-field { text-align: center; }
    .g-recaptcha { display: inline-block; }

    /* xs */
	@media only screen and (max-width: 767px) {
        .g-recaptcha { transform: scale(0.9); }
    }

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
        .g-recaptcha { transform: scale(1); }
    }

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
        .g-recaptcha { transform: scale(1); }
    }

	/* xl */
	@media only screen and (min-width: 1280px) {
        .g-recaptcha { transform: scale(1); }
    }
</style>