<!--  -->
<template>
    <div class="comp-root">
        <!-- Login Form -->
        <div class="form text-center">
            <div class="form-field"> <!-- Email -->
                <input type="email" class="form-input" placeholder="Email" v-model="regEmail" autocomplete="true" />
            </div>
            <div class="form-field"> <!-- Password -->
                <input type="password" class="form-input" placeholder="Password" v-model="regPass" autocomplete="true" />
            </div>
            <div class="form-field">
                <button @click="login">Login</button>
            </div>
        </div>
    </div>
</template>

<script>
	require('../../assets/css/input.css');

    import { eventBus } from '../../main';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data () {
            return {
                regEmail:'',
				regPass:'',
            }
        },
        created() {},
        mounted() {
            this.$store.dispatch('setOnline');
        },
        computed: {
            ...mapGetters(['online', 'user']),
        },
        methods: {
            ...mapActions(['setUser']),
			login() {
				if(this.regEmail && this.validEmail(this.regEmail) && this.regPass) {
                    eventBus.$emit('showSpinner');
                    this.$http.post(process.env.SERVER_URL+'user/login', {
                        email:this.regEmail,
                        password:this.regPass,
                    }).then(ret => {
                        // console.log('ret: ', ret);
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', null, ret.body.message, ret.body.status);
                        if(ret.body.status === 'success') {
                            ret.body.user.token = ret.headers.get('x-auth');
                            this.setUser(ret.body.user);
                            this.$router.push('/');
                            eventBus.$emit('loggedIn');
                        }
                    }, err => {
                        this.$store.dispatch('setOnline');
                        eventBus.$emit('hideSpinner');
                        eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F1]', 'failed');
                        console.log('Error: ', err);
                    });
				} else {

                    let emptyFields = [];
                    if(!this.regEmail) emptyFields.push('Email');
                    if(!this.regPass) emptyFields.push('Password');

                    if(emptyFields.length > 0) {
                        let msg1 = 'The following required fields were empty: ';
                        emptyFields.forEach((field, i) => {
                            msg1+=field;
                            if(i===emptyFields.length-1) msg1+='.';
                            else msg1+=', ';
                        });
                        eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
                    }

                    if(!this.validEmail(this.regEmail)) eventBus.$emit('showMessage', 'Warning', 'Please enter a valid email address.', 'warning');
                }
            },
			validEmail: function(string) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(string).toLowerCase());
            },
            close() {
                eventBus.$emit('closePanel');
            },
        }
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.text-center { text-align: center; }
	.text-left { text-align: left; }

    .form {
        width: 80%;
        margin: 0 auto;
    }

    .form-field { margin: 10px 0; }

    .form button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        /* .btn */
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .form button:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .forgot-link {
        font-family:'Noto Sans', sans-serif;
        display:block;
        margin-top: 10px;
    }
</style>