<!--  -->
<template>
    <div class="comp-root">
        <div class="spinner">
            <font-awesome-icon icon="spinner" size="4x" spin></font-awesome-icon>
            <h3>{{ phrase }}</h3>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                phrase:'Loading...'
            }
        },
        beforeCreate() {},
        created() {},
        mounted() {},
        computed: {},
        methods: {}
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

    .spinner {
        color:#fff;
        text-align:center;
    }

    .spinner h3 { font-family: 'Noto Sans', sans-serif; }

</style>
