.btn,
.btn:before,
.btn .svg-inline--fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.btn:before {
    top: 90%;
    left: -110%;
}

.btn.blue:before { background-color: #33ccff; }
.btn.blue .svg-inline--fa { color: #33ccff; }

.btn.green:before { background-color: #33ff33; }
.btn.green .svg-inline--fa { color: #33ff33; }

.btn.red:before { background-color: #ff3333; }
.btn.red .svg-inline--fa { color: #ff3333; }

.btn.official-1:before { background-color: #6ca8a8; }
.btn.official-1 .svg-inline--fa { color: #6ca8a8; }

.btn.official-2:before { background-color: #3b737d; }
.btn.official-2 .svg-inline--fa { color: #3b737d; }

.btn.official-3:before { background-color: #2d6564; }
.btn.official-3 .svg-inline--fa { color: #2d6564; }

.btn.official-4:before { background-color: #2a4344; }
.btn.official-4 .svg-inline--fa { color: #2a4344; }

.btn.light:before { background-color: #b7b7b7; }
.btn.light .svg-inline--fa { color: #b7b7b7; }

.btn.dark:before { background-color: #585858; }
.btn.dark .svg-inline--fa { color: #585858; }

.btn.darker:before { background-color: #333; }
.btn.darker .svg-inline--fa { color: #333; }

.btn:focus:before,
.btn:hover:before,
.btn.active:before {
    top: -10%;
    left: -10%;
}

.btn .svg-inline--fa {
    color: #fff;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.btn:focus .svg-inline--fa,
.btn:hover .svg-inline--fa,
.btn.active .svg-inline--fa {
    color: #fff;
}

.btn {
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
    border: none;
    cursor: pointer;
}

.btn.btn-sm {
    width: 20px;
    height: 20px;
}

.btn.btn-sm .svg-inline--fa { font-size: 0.66em; }

.btn.gray-back { background-color: #b7b7b7; }

.btn.half-width {
    border-radius: 0;
    width: 48%;
}

.btn:focus { outline: none !important; }

.btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn .svg-inline--fa { vertical-align: middle; }

/* xs */
@media only screen and (max-width: 767px) {

}

/* sm */
@media only screen and (min-width: 768px) and (max-width: 991px) { /* 223 */

}

/* lg */
@media only screen and (min-width: 992px) and (max-width: 1279px) { /* 287 */
    .btn.btn-sm .svg-inline--fa { vertical-align: initial; }
}

/* xl */
@media only screen and (min-width: 1280px) {
    .btn.btn-sm .svg-inline--fa { vertical-align: initial; }
}

