/* @import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu'); */

input, textarea {
    position: relative;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #eee;
    color: #eee;
    font-size: 22px;
    width: 100%;
    background-color: inherit;
}

input.dark,
textarea.dark {
    border-bottom: 1px solid #222;
    color: #222;
}

textarea {
    resize: none;
    vertical-align: bottom;
}

input::placeholder,
textarea::placeholder { color: #a6a6a6; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { color: #a6a6a6; }

input::-ms-input-placeholder,
textarea::-ms-input-placeholder { color: #a6a6a6; }

input:focus,
textarea:focus {
    outline-offset: initial;
    outline: none;
}
