<!--  -->
<template>
    <div class="page-root">
        <h1>404</h1>
        <p>The page you are looking for does not exist.</p>
    </div>
</template>
<script>
  export default {
    mounted() {
      this.$store.dispatch('setOnline');
    },
  }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

	.text-center { text-align: center }

	.page-root { 
        font-family: 'Noto Sans', sans-serif;
		margin-left: auto;
        margin-right: auto;
    }
    
    .page-root h1,
    .page-root p { 
        padding: 0 15px;
        margin: 0; 
        color: #222;
    }

    	/* xs */
	@media only screen and (max-width: 767px) {
		.page-root { text-align: center; }
	}

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		.page-root { text-align: center; }
	}

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {}

	/* xl */
	@media only screen and (min-width: 1280px) {
		.page-root { width: 65%; }
	}

</style>
