<template>
	<div class="comp-root">
		<header>
			<router-link id="logo" to="/"><img class="logo" src="../../assets/img/logo2.png" alt="Crastino" /></router-link>
			<nav>
				<ul>
					<!-- Logged Out -->
					<li><router-link to="/">Calendar</router-link></li>
					<li><router-link to="/home">Home</router-link></li>
					<li v-if="this.online && !this.user"><router-link to="/user/login">Login</router-link></li>
					<li v-if="this.online && !this.user"><router-link to="/user/register">Register</router-link></li>

					<!-- Logged In -->
					<li v-if="this.online && this.user"><router-link to="/user/account">Account</router-link></li>
					<li v-if="this.online && this.user"><a href="#" @click.prevent="logout">Logout</a></li>

					<!-- Both -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" @click.prevent="dropdown('help')" v-click-outside="hideHelp">Help &#9660;</a>
						<ul class="dropdown-menu" :class="{closed:dropdowns[0].closed}">
							<!-- <li><router-link to="/docs">Documentation</router-link></li> -->
							<li><a href="https://bitbucket.org/crastino01/crastino-calendar/issues" target="_blank">Issue Tracker</a></li>
							<li><a href="https://bitbucket.org/crastino01/crastino-calendar/issues/new" target="_blank">Create Issue</a></li>
							<li><router-link to="/home/contact">Contact Us</router-link></li>
						</ul>
					</li>

					<!-- Information -->
					<li class="pull-right-sm" v-if="this.online">
						<a href="#" class="not-clickable" onclick="return false;" title="Crastino servers online.">
							<span class="hidden-lg margin-right-xs">Online</span> <font-awesome-icon icon="check" class="text-success"></font-awesome-icon>
						</a>
					</li>
					<li class="pull-right-sm" v-else>
						<a href="#" @click.prevent="retryOnlineCheck()" title="Crastino servers offline. Retry connection.">
							<span class="hidden-lg margin-right-xs">Online</span> <font-awesome-icon icon="redo-alt" class="text-danger"></font-awesome-icon>
						</a>
					</li>
					<li v-if="this.online && this.user" class="pull-right-sm"><a href="#" class="not-clickable text-muted" onclick="return false;">{{ this.user.firstName }}</a></li>
				</ul>		
			</nav>
		</header>
	</div>
</template>

<script>

	import { eventBus } from '../../main';
	import { mapGetters } from 'vuex';

	import tray from './NotificationTray.vue';

  	export default {
		components: {
			'notification-tray':tray,
		},
		data () {
			return {
				navheight:'0%',
				linksDisabled:false,
				dropdowns: [
					{ name:'help', closed:true }
				]
			}
		},
		created () {
			eventBus.$on('disableNav', () => {
				this.linksDisabled = true;
			});
			eventBus.$on('enableNav', () => {
				this.linksDisabled = false;
			});
		},
		mounted () {},
		computed: {
			...mapGetters(['online', 'user', 'token']),
		},
		methods: {
			dropdown(menu) {
				let obj = this.dropdowns.filter(item => {
					return item.name === menu;
				})[0];
				if(obj) obj.closed = !obj.closed;
			},
			hideHelp() {
				let obj = this.dropdowns.filter(item => {
					return item.name === 'help';
				})[0];
				if(obj) obj.closed = true;
			},
			logout() {
				eventBus.$emit('logout');
			},
			retryOnlineCheck() {
				this.$store.dispatch('setOnline');
			}
		},
  	}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

	/*font-family: 'Noto Sans', sans-serif;*/
	/*font-family: 'Ubuntu', cursive;*/
	/*font-family: 'Slabo 13px', serif;*/
	/*font-family: 'Bree Serif', serif;*/

	.comp-root { padding: 0 15px; }

	.text-muted { color:#777; }
	.text-success { color:#3c763d; }
	.text-danger { color:#a94442; }

	.margin-right-xs { margin-right:5px; }

	nav > ul {
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;
	}

	ul > li { display: inline-block; }

	li > a {
		text-decoration: unset;
		font-family: 'Noto Sans', sans-serif;
		color: #222;
	}

	li > a:not(.not-clickable):hover { color: #666; }

	.not-clickable { cursor: default; }

	li.dropdown { position: relative; }

	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0%;
		z-index: 1000;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}

	.dropdown-menu > li { 
		display: block; 
		padding: 0;
	}

	.dropdown-menu > li > a { 
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
 	}

	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		background-color: #e8e8e8;
		background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
		background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
		background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
		background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
		background-repeat: repeat-x;
	}

	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		color: #262626;
		text-decoration: none;
		background-color: #f5f5f5;
	}

	.dropdown-menu.closed { display: none; }

	/* Mobile */
	@media only screen and (min-width: 320px) and (max-width: 991px) {
		header { padding: 10px 0; }

		.logo { 
			clear: both;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align:center;
			height: 30px;
		}

		ul li { padding-right: 5px; }

		.pull-right-sm { float: right; }

		li a { font-size: 14px; }
	}

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
		header { padding: 25px 0; }

		.logo { height: 40px; }

		ul li { padding-right: 20px; }

		li a { font-size: 14px; }

		.hidden-lg { display: none; }
	}

	/* xl */
	@media only screen and (min-width: 1280px) {
		header { 
			padding: 25px 0;
			width: 65%;
			margin: 0 auto;
		}

		.logo { height: 40px; }

		ul li { padding-right: 20px; }

		li a { font-size: 14px; }

		.hidden-lg { display: none; }
	}


</style>