<template>
	<div class="page-root">
        <div v-for="item in notifications" class="tray-item">
            <p>
                {{ item.action }}<br />
                {{ item.displayTime }}
            </p>
        </div>
	</div>
</template>

<script>

	import { eventBus } from '../../main';
	import { mapGetters, mapMutations, mapActions } from 'vuex';

  	export default {
		data () {
			return {
                notifications:[],
			}
		},
		created () {},
		mounted () {
            setTimeout(() => {
                this.getNotifications();
            }, 500);

            // setInterval(() => {
            //     this.getNotifications();
            // }, 3000);
        },
		computed: {
            ...mapGetters(['online', 'user', 'token']),
        },
		methods: {
            getNotifications() {
                if(this.online && this.user) {
                    this.$http.get(process.env.SERVER_URL+'user/notifications', {
                        headers: { 'x-auth':this.token }
                    }).then(ret => {
                        // console.log('ret: ', ret);
                        if(ret.body.status === 'success') {
                            this.notifications = ret.body.notifications;
                            this.notifications.forEach(noti => {
                                noti.displayTime = new moment(noti.dateTime).fromNow();
                            });
                        }
                    }, err => {
                        console.log('Error: ', ret);
                    });
                }
            }
        },
  	}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

	/*font-family: 'Noto Sans', sans-serif;*/
	/*font-family: 'Ubuntu', cursive;*/
	/*font-family: 'Slabo 13px', serif;*/
	/*font-family: 'Bree Serif', serif;*/

</style>