<!--  -->
<template>
    <div class="page-root">
        <div class="spinner">
            <font-awesome-icon icon="spinner" size="4x" spin></font-awesome-icon>
            <h3>{{ phrase }}</h3>
        </div>
    </div>
</template>

<script>

    import { eventBus } from '../../main';

    export default {
        data () {
            return {
                phrase:'Loading...'
            }
        },
        beforeCreate() {},
        created() {},
        mounted() {},
        computed: {},
        methods: {}
    }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Ubuntu', cursive;*/
    /*font-family: 'Slabo 13px', serif;*/
    /*font-family: 'Bree Serif', serif;*/

    .page-root {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.5);
    }

    .spinner {
        color:#fff;
        position:absolute;
        top:200px;
        left:50%;
        text-align:center;
    }

    .spinner svg,
    .spinner h3 {
        position:relative;
        left:-50%;
    }

    .spinner h3 { font-family: 'Noto Sans', sans-serif; }

</style>
