<!--  -->
<template>
	<div class="comp-root">
		
		<h1>Article</h1>

		<!-- Heading -->
		<!-- Intro Paragraph -->
		<!-- Page Image -->
		<!-- Index -->
  </div>
</template>

<script>
	export default {
		props:['name'],
		// mounted() {
		// 	console.log(this.name);
		// }
	}
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');
	/*font-family: 'Noto Sans', sans-serif;*/
	/*font-family: 'Ubuntu', cursive;*/
	/*font-family: 'Slabo 13px', serif;*/
	/*font-family: 'Bree Serif', serif;*/


</style>