<!--  -->
<template>
	<div class="page-root">
		<div class="page-inner">
			<!-- Once we have more docs articles, we'll add a search bar here -->
			<component :is="comp" :name="name"></component>
		</div>
  </div>
</template>

<script>
	import article from './Article.vue';

	export default {
		components: {
			'doc-article':article
		},
		data() {
			return {
				comp:'doc-article',
			}
		},
		computed: {
			name() {
				if(this.$route.params.id) {
					return this.$route.params.id;
				} else {
					return 'home';
				}
			}
		},
	}
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');
	/*font-family: 'Noto Sans', sans-serif;*/
	/*font-family: 'Ubuntu', cursive;*/
	/*font-family: 'Slabo 13px', serif;*/
	/*font-family: 'Bree Serif', serif;*/

  /* Utility */
  .text-center { text-align: center; }
  .scrollable { overflow-y: scroll; }
  .not-scrollable { overflow-y: hidden; }
  .text-danger { color: #a94442; }

  /* Global  */
  h1, h2, h3 { font-family: 'Noto Sans', sans-serif; }
  h2 { font-size: 2.25em; }
  h3 { font-size: 1.5em; }

  p, a, li { font-family: 'Ubuntu', cursive; }

  .svg-inline--fa.inpage { 
    font-size: 2.5em; 
    color: #3b737d;
  }

  a { 
    text-decoration: none;
    color: #2a4344;
  }

  a:hover { 
    text-decoration: underline;
    color: #2d6564;
  }

  .form-field { margin: 10px 0; }

  .notice-close-btn { 
    position: absolute;
    color: #f2f2f2;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .notice-close-btn:hover { 
    color: #b3b3b3; 
    background-color: initial;
  }

  /* Page */
  .page-root { 
    color : #222;
    background-color: #fff;
  }

  .page-inner { 
    margin: 0 auto 60px;
    padding-bottom: 60px;
    /* background-color: #6ca8a8; */
  }

	  /* xs */
  @media only screen and (max-width: 767px) {
    /* h1 { color: orange; } */
  }

  /* sm */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* h1 { color: pink; } */
  }

  /* lg */
  @media only screen and (min-width: 992px) and (max-width: 1135px) {
    /* h1 { color: green; } */
  }

  /* lg - xl */
  @media only screen and (min-width: 1136px) and (max-width: 1279px) {
    /* h1 { color: cyan; } */
  }

  /* xl */
  @media only screen and (min-width: 1280px) and (max-width: 1599px) {
    /* h1 { color: blue; } */

    /* Page  */
    .page-inner { width: 95%; }
  }

  /* xl - xxl */
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    /* h1 { color: purple; } */

    /* Page  */
    .page-inner { width: 95%; }
  }

  /* xxl */
  @media only screen and (min-width: 1920px) {
    /* h1 { color: red; } */

    /* Page  */
    .page-inner { width: 90%; }
  }
</style>