<template>
	<div class="page-root">
		
		<div class="control-panel">
			<div class="control-wrapper">
				<button type="button" @click="navigate('py')" class="control btn gray-back official-4" title="Previous Year"><font-awesome-icon icon="angle-double-left"></font-awesome-icon></button>
				<button type="button" @click="navigate('pm')" class="control btn gray-back official-4" title="Previous Month"><font-awesome-icon icon="chevron-left"></font-awesome-icon></button>
				<h3 class="control">
					<span class="hidden-xs hidden-sm">{{ selectedDate.format('MMMM YYYY').toUpperCase() }}</span>
					<span class="hidden-lg hidden-xl">{{ selectedDate.format('MMM YY').toUpperCase() }}</span>
				</h3>
				<button type="button" @click="navigate('nm')" class="control btn gray-back official-4" title="Next Month"><font-awesome-icon icon="chevron-right"></font-awesome-icon></button>
				<button type="button" @click="navigate('ny')" class="control btn gray-back official-4" title="Next Year"><font-awesome-icon icon="angle-double-right"></font-awesome-icon></button>
			</div>
		</div>

		<div class="calendar">
			<div v-for="(lbl, i) in weekLabels" class="week-label">
				<span class="hidden-xs hidden-sm">{{ lbl }}</span>
				<span class="hidden-lg hidden-xl">{{ lbl.substring(0, 1) }}</span>
			</div>
			<div v-for="(date, i) in month" class="day-box" @click="selectDate(date)" :class="{ 'other-month':!date.thisMonth, 'selected-day':date.selectedDate, 'current-day':date.today }">
				<div class="day-label">{{ date.date.format('D') }}</div>
				<div v-for="(evt, j) in date.entries" v-if="j < 2" :class="{ 'event':evt.type==='E', 'reminder':evt.type==='R' }" class="event-label">
					{{ evt.title.length > 21 ? evt.title.substring(0, 21)+'...' : evt.title }}
				</div>
				<div class="event-label strong" v-if="date.entries.length > 2">{{ date.entries.length - 2 }} more</div>
			</div>
		</div>

		<div class="crud-panel" :style="{ width:crudPanelWidth }" v-click-outside="hide">
			<div v-if="this.crudPanelWidth !== '0%'" class="crud-panel-wrapper">
				<!-- Login Control Panel -->
				<div class="login-control-panel" v-if="comp === 'login'">
					<button type="button" class="btn dark" title="Back" @click="showPanel(true);"><font-awesome-icon icon="arrow-left"></font-awesome-icon></button>
					<h2 class="text-center">Login</h2>
				</div>
				<component :is="comp" v-bind="{ date:selectedDateObj, entryExists }" :class="{ 'margin-top-50':comp==='spinner' }"></component>
			</div>
		</div>

	</div>
</template>

<script>

	require('../../assets/css/button.css');

	import { eventBus } from '../../main';
	import { mapGetters, mapActions } from 'vuex';

    import spinner from '../comps/Spinner.vue';
    import login from '../comps/Login.vue';
	import entry from '../comps/Entry.vue';

	export default {
		components: {
			'spinner':spinner,
			'login':login,
			'entry':entry,
        },
		data () {
			return {
				selectedDate:new moment().startOf('day'),
				selectedDateObj:null,
				weekLabels:['SUNDAY', 'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY'],
				entries:[],
				crudPanelWidth:'0%',
				comp:null,
			}
		},
	    created() {
			eventBus.$on('loggedIn', () => {
				this.getEntries();
			});
			eventBus.$on('closePanel', () => {
				this.showPanel(true);
			});
			eventBus.$on('update', entry => {
				this.insertEntry(entry);
			});
		},
		mounted() {
			if(this.firstVisit) {
				this.$store.dispatch('setFirstVisit', false);
				this.$router.push('/home');
			}
            this.$store.dispatch('setOnline');
			if(this.online && this.user) {
				this.getEntries();
			} else {
				this.comp = 'login';
			}
		},
		computed: {
			...mapGetters(['online', 'user', 'firstVisit']),
			month() {
				let calendar = [];
				let mStart = new moment(this.selectedDate).startOf('month');
				let mEnd = new moment(this.selectedDate).endOf('month').startOf('day');
				let lastMonth = new moment(this.selectedDate).subtract(1, 'month');
				let daysInLastMonth = new moment(lastMonth).daysInMonth();
				let daysLastMonth = parseInt(mStart.format('d'));
				let daysNextMonth = 7-(parseInt(mEnd.format('d'))+1);

				for(let i=daysInLastMonth-daysLastMonth; i<daysInLastMonth; i++) {
					let date = new moment(lastMonth).date(i+1);
					calendar.push({
						date:date,
						thisMonth:false,
						selectedDate:moment(date).format('DD/MM/YYYY') === this.selectedDate.format('DD/MM/YYYY'),
						today:moment(date).format('DD/MM/YYYY') === new moment().format('DD/MM/YYYY'),
						entries:this.getDailyEntries(date)
					});
				}
				for(let i=1; i<=moment(this.selectedDate).daysInMonth(); i++) {
					let date = new moment(this.selectedDate).date(i);
					calendar.push({
						date:date,
						thisMonth:true,
						selectedDate:moment(date).format('DD/MM/YYYY') === this.selectedDate.format('DD/MM/YYYY'),
						today:moment(date).format('DD/MM/YYYY') === new moment().format('DD/MM/YYYY'),
						entries:this.getDailyEntries(date)
					});
				}
				for(let i=1; i<=daysNextMonth; i++) {
					let date = new moment(this.selectedDate).add(1, 'month').date(i);
					calendar.push({
						date:date,
						thisMonth:false,
						selectedDate:moment(date).format('DD/MM/YYYY') === this.selectedDate.format('DD/MM/YYYY'),
						today:moment(date).format('DD/MM/YYYY') === new moment().format('DD/MM/YYYY'),
						entries:this.getDailyEntries(date)
					});
				}
				return calendar;
			},
			crudPanelMaxWidth() {
				if(window.innerWidth <= 767) return '100%';
				else if(window.innerWidth > 767 && window.innerWidth <= 991) return '60%';
				else if(window.innerWidth > 991 && window.innerWidth <= 1279) return '40%';
				else if(window.innerWidth > 1279) return '30%';
			}
		},
		methods: {
			// Navigation
			selectDate(date) {
				this.setDateObj(date);
				if(this.online && date.selectedDate) {
					this.showPanel();
					if(this.comp !== 'spinner') {
						if(this.user) this.comp = 'entry';
						else this.comp = 'login';
					}
				} else {
					this.showPanel(true);
					this.selectedDate = moment(date.date);
					if(this.returnPositiveNo(parseInt(moment.duration(this.selectedDate.diff(new moment())).as('days'))) >= 183) this.getEntries();
				}
			},
			navigate(by) {
				switch(by) {
					case 'py':
						this.selectedDate = new moment(this.selectedDate).subtract(1, 'year');
						break;
					case 'pm':
						this.selectedDate = new moment(this.selectedDate).subtract(1, 'month');
						break;
					case 'nm':
						this.selectedDate = new moment(this.selectedDate).add(1, 'month');
						break;
					case 'ny':
						this.selectedDate = new moment(this.selectedDate).add(1, 'year');
						break;
				}

				if(this.returnPositiveNo(parseInt(moment.duration(this.selectedDate.diff(new moment())).as('days'))) >= 183) this.getEntries();
			},

			// API
			getEntries() {
				this.comp = 'spinner';
				this.$http.post(process.env.SERVER_URL+'entry/between', {
					startDate:moment(this.selectedDate).subtract(274, 'days').format('DD/MM/YYYY'),
					endDate:moment(this.selectedDate).add(274, 'days').format('DD/MM/YYYY'),
				},{
					headers:{ 'x-auth':this.user.token }
				}).then(ret => {
					// console.log('ret: ', ret);
					this.comp = 'entry';
					if(ret.body.status === 'success') {
						this.entries = ret.body.events;
						this.setDateObj();
					} else {
						eventBus.$emit('showMessage', null, ret.body.message, ret.body.status);
						this.entries = [];
					}
				}, err => {
					this.comp = 'entry';
					eventBus.$emit('showMessage', 'Error', 'An error has occurred. [F1]', 'failed');
					console.log('Error: ', err);
					this.entries = [];
				});
			},

			// Utility
			entryExists(entry) {
				let exists = this.entries.filter(e => {
					return  e.type.toString() === entry.type.toString() && 
							e.title.toString() === entry.title.toString() && 
							e.startDate.toString() === moment(entry.startDate, 'DD/MM/YYYY HH:mm').toString(); 
				});
				return exists.length > 0;
			},
			insertEntry(entry) {
				this.entries = this.entries.filter((e) => { return e._id !== entry._id; });
				if(entry.title) this.entries.push(entry);
			},
			getDailyEntries(date) {
				if(this.entries.length > 0) {
					let entries = JSON.parse(JSON.stringify(this.entries)).filter(entry => {
						return moment(entry.startDate) >= moment(date).startOf('day') && moment(entry.startDate) <= moment(date).endOf('day');
					});
					let shadow = JSON.parse(JSON.stringify(this.entries)).filter(entry => {
						return entry.type === 'E' && // Only events
							(moment(entry.endDate).format('DD/MM/YYYY') !== moment(entry.startDate).format('DD/MM/YYYY')) && // endDate !== the startDate
							((moment(entry.endDate) >= moment(date).startOf('day') && moment(entry.endDate) <= moment(date).endOf('day')) || // endDate between start and end of date
							(moment(date) >= moment(entry.startDate) && moment(date) <= moment(entry.endDate).endOf('day'))); // date between startDate and endDate
					});
					let daily = entries.concat(shadow);

					daily.forEach(entry => {
						entry.startDate = moment(entry.startDate);
						if(entry.endDate) entry.endDate = moment(entry.endDate);
						entry.createdAt = moment(entry.createdAt);
					});

					return daily.sort((a,b) => { return new moment(a.startDate) - new moment(b.startDate); });
				} else {
					return [];
				}
			},
			showPanel(close) {
				if(this.crudPanelWidth !== '0%' || close) this.crudPanelWidth = '0%';
				else this.crudPanelWidth = this.crudPanelMaxWidth;
			},
			setDateObj() {
				this.month.forEach(date => {
					if(date.date.format('DD/MM/YYYY') === this.selectedDate.format('DD/MM/YYYY')) {
						let tempDateobj = JSON.parse(JSON.stringify(date));
						tempDateobj.date = moment(tempDateobj.date);
						tempDateobj.entries.forEach(entry => {
							entry.startDate = moment(entry.startDate);
							if(entry.endDate) entry.endDate = moment(entry.endDate);
							entry.createdAt = moment(entry.createdAt);
						});
						this.selectedDateObj = tempDateobj;
					}
				});
			},
			returnPositiveNo(no) {
				if(no >= 0) return no;
				else return no * -1
			},
			hide() {
				// let panelWidth = parseInt(this.crudPanelWidth.substring(0, this.crudPanelWidth.length-1));
				// if(panelWidth < 30) {
				// 	console.log('hiding');
				// 	this.showPanel(true);
				// }
			}
		}
  }
</script>
<style scoped>

	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

	/*font-family: 'Noto Sans', sans-serif;*/
	/*font-family: 'Ubuntu', cursive;*/
	/*font-family: 'Slabo 13px', serif;*/
	/*font-family: 'Bree Serif', serif;*/

	.margin-top-25 { margin-top: 25px; }
	.margin-top-50 { margin-top: 50px; }
	.margin-top-100 { margin-top: 100px; }

	.page-root { 
		margin-left: auto;
		margin-right: auto;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	}

	.calendar {
		display: grid;
		grid-template-columns:repeat(7, 1fr);
	}

	.calendar .week-label {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-family: 'Ubuntu', cursive;
		background-color: #3b737d;
		color: #fff;
	}

	.calendar .day-box {
		border-bottom: 1px solid #ccc;
		cursor: pointer;
		font-family: 'Ubuntu', cursive;
		background-color: #3b737d;
	}
	.calendar .day-label { color: #fff;}

	.day-box.current-day { background-color:#2d6564; }
	.day-box.selected-day { background-color:#2a4344; }
	.day-box.other-month { background-color:#e6e6e6; }
	.day-box.other-month .day-label { color:initial; }

	.day-box .event-label { font-size: 0.8em; }

	.day-box .event-label.reminder { background-color: #33ccff; }
	.day-box .event-label.event { background-color: #33ff33; }

	.control-panel { text-align: center; }

	.control-panel .control-wrapper { 
		display: inline-block; 
		padding: 0 20px;
	}

	.control-panel .control-wrapper .control { 
		display: inline-block;
		font-family: 'Ubuntu', cursive;
	}

	.control-panel .control-wrapper h3.control { 
		font-size: 2.5em;
		margin: 10px;
		vertical-align: middle;
		color: #222;
	}

	.control-panel .control-wrapper button.control { 
		vertical-align: middle;
		width: 30px;
		height: 30px;
	}

	.crud-panel {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.85);
		width: 0;
		left: 0;
		transition: 0.5s;
		color: #f2f2f2;
	}

	.crud-panel .crud-panel-wrapper { padding: 0 10px; }

	.login-control-panel { margin: 10px 0; }

	.login-control-panel h2 { font-family: 'Ubuntu', cursive; }

	/* Utility */
	.text-left { text-align: left; }
	.text-center { text-align: center; }
    .text-right { text-align: right; }
    .strong { font-weight: bold; }
	.pull-left { float: left; }
	.pull-right { float: right; }
	/* Utility */

	/* xs */
	@media only screen and (max-width: 767px) {
		.page-root { 
			padding:0; 
		}

		/* .control-panel .control-wrapper h3.control { color:red; } */

		.calendar .week-label { 
			font-size:0.75em; 
			padding: 2.5px;
			overflow-x: hidden;
		}

		.calendar .day-box { 
			height: 65px; 
			font-size:0.75em; 
			overflow-x: hidden;
		}

		.calendar .day-label { padding: 2.5px; }

		.day-box .event-label { 
			margin-top: 2px; 
			white-space: nowrap;
			padding: 1px;
		}

		.crud-panel {
			top: 0;
			height: 450px;
		}

		.hidden-xs { display:none; }
	}

	/* sm */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		.page-root { 
			padding: 0 15px;
		}

		/* .control-panel .control-wrapper h3.control { color:yellow; } */

		.calendar .week-label { 
			font-size:1em; 
			padding: 5px 10px;
		}

		.calendar .day-box { height: 100px; }

		.calendar .day-label { padding: 5px; }

		.day-box .event-label { 
			margin-top: 5px; 
			padding: 2px 5px;
		}

		.crud-panel {
			height: 450px;
			top: 155px;
		}

		.hidden-sm { display:none; }
	}

	/* lg */
	@media only screen and (min-width: 992px) and (max-width: 1279px) {
		.page-root {
			padding: 0 15px; 
		}

		/* .control-panel .control-wrapper h3.control { color:greenyellow; } */

		.calendar .week-label { 
			font-size:1em; 
			padding: 5px 10px;
		}

		.calendar .day-box { height: 100px; }

		.calendar .day-label { padding: 5px; }

		.day-box .event-label { 
			margin-top: 5px; 
			padding: 2px 5px;
		}

		.crud-panel {
			height: 450px;
			top: 155px;
		}

		.hidden-lg { display:none; }
	}

	/* xl */
	@media only screen and (min-width: 1280px) {
		.page-root { 
			padding: 0 15px; 
		}

		/* .control-panel .control-wrapper h3.control { color:skyblue; } */

		.calendar {
			width: 65%;
			margin: 0 auto;
		}

		.calendar .week-label { 
			font-size:1em; 
			padding: 5px 10px;
		}

		.calendar .day-box { height: 100px; }

		.calendar .day-label { padding: 5px; }

		.day-box .event-label { 
			margin-top: 5px; 
			padding: 2px 5px;
		}

		.crud-panel {
			height: 450px;
			top: 155px;
		}

		.hidden-xl { display:none; }
	}

</style>