<template>
  <div class="page-root">
    <div class="page-inner">

      <!-- Opening Section -->
      <div class="section1">
        <div class="opening-text">
          <h1>Crastino Calendar</h1>
          <p>Crastino Calendar allows you to easily share all the important dates with anyone in your life.</p>
        </div>
      </div>

      <!-- Intro Cards -->
      <div class="card-row">
        <div class="card">
          <div class="card-inner">
            <font-awesome-icon class="inpage" icon="balance-scale"></font-awesome-icon>
            <h3>Organise your life</h3>
            <p>
              You never have to forget another birthday, business meeting, or double-book your Saturday night again. We remember, so you 
              don't have to. 
            </p>
            <!-- <a href="#">Link Goes Here</a> -->
          </div>
        </div><div class="card">
          <div class="card-inner">
            <font-awesome-icon class="inpage" icon="share-alt"></font-awesome-icon>
            <h3>Share Time</h3>
            <p>You let us know who should be included in your plans. Easily create and share your plans with your friends or family.</p>
            <!-- <a href="#">Link Goes Here</a> -->
          </div>
        </div><div class="card">
          <div class="card-inner">
            <font-awesome-icon class="inpage" icon="heart"></font-awesome-icon>
            <h3>Simplicity is key</h3>
            <p>
              Our calender is easy to use. Effortlessly navigate between daily schedules or monthly plans. We keep things simple here, so 
              you can too.
            </p>
            <!-- <a href="#">Link Goes Here</a> -->
          </div>
        </div>
      </div>

      <!-- Getting Started -->
      <div class="getting-started">
        <h2 class="text-center">Getting Started</h2>
        <div class="start-step">
          <div class="icon">
            <font-awesome-icon class="inpage" icon="user-plus"></font-awesome-icon>
          </div>
          <h3>Register an Account</h3>
          <p>Sign up for a <router-link to="/user/register">FREE Crastino account</router-link>.</p>
        </div><div class="start-step">
          <div class="icon">
            <font-awesome-icon class="inpage" icon="calendar"></font-awesome-icon>
          </div>
          <h3>Add Entries</h3>
          <p>Make plans on your personal calendar.</p>
        </div><div class="start-step">
          <div class="icon">
            <font-awesome-icon class="inpage" icon="bullhorn"></font-awesome-icon>
          </div>
          <h3>Share with Anyone</h3>
          <p>Get everyone in on it.</p>
        </div>
      </div>

      <!-- Why Crastino -->
      <div class="why-section">
        <div class="col col-left">
          <div class="image"></div>
        </div><div class="col col-right">
          <h2>Why Crastino?</h2>
          <p>
            Crastino Calendar is more than the calendar on your fridge that you forget to check. No longer worry about double booking 
            birthday dinners or forgetting your sister's husband's birthday. Cratsino stores all of that for you and allows you to easily 
            share this with anyone in your life. Our sharing feature is simple and available on just about any device. Except your toaster 
            (we're working on it). Crastino stores all your important dates, which is only accessible to you alone, if that's how you like 
            it. You can now set reminders, alarms and event alerts quickly and on the go. Crastino is there to remember, so you don't have 
            to.
          </p>
          <!-- <a href="#">Link Goes Here</a> -->
        </div>
      </div>
      
      <!-- News -->
      <div class="news-section" v-if="showNotices">
        <button class="notice-close-btn" @click="closeNotices()"><font-awesome-icon icon="times"></font-awesome-icon></button>
        <div class="notice" v-for="noti in notices" @click="selectNotice(noti)">
          <h3 class="notice-heading">{{ noti.heading }}</h3>
          <div class="notice-body" v-html="noti.subject"></div>
          <p class="notice-date">{{ noti.date.format('DD/MM/YYYY') }}</p>
        </div>
      </div>

      <!-- Social Media -->
      <!-- <div class="social-section">
        <div class="social-btn btn-fb" data-href="http://crastino.com" data-layout="button" data-mobile-iframe="false">
          <a target="_blank" title="Share to Facebook!" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcrastino.com%2F&amp;src=sdkpreparse">
            <img src="../../assets/img/fb.png" alt="Facebook Logo">
          </a>
        </div>
      </div> -->

      <!-- Contact Us -->
      <div class="contact-section">
        <div class="col col-left">

          <h2>Resources</h2>
          <p>
            Something not working properly? See if someone has already reported the same problem, and if you can't find the answer you're 
            looking for, open a new an issue, with the links below. If that isn't enough and you'd rather get in contact with us directly, 
            use the Get In Touch form to the right.
            <!-- Want to learn how Crastino Calendar works, report a bug, or request a feature? These links will take you to the official 
            Docs or Issue Tracker. If that isn't enough and you'd rather get in contact with us directly, use the Get In Touch form to 
            the right. -->
          </p>
          <!-- <router-link class="resource-link" to="/docs">Learn how Crastino Calendar works.</router-link> -->
          <a class="resource-link" href="https://bitbucket.org/crastino01/crastino-calendar/issues" target="_blank">
            Check if the problem you're having already exists.
          </a>
          <a class="resource-link" href="https://bitbucket.org/crastino01/crastino-calendar/issues/new" target="_blank">
            Report a bug or request a feature.
          </a>

        </div><div class="col col-right">

          <div class="form" id="contact">
            <h2>Get In Touch</h2>
            <p class="text-left" v-if="online">Send us a message or ask us anything. We are completely transparent.</p>
            <p class="text-danger" v-else>Crastino servers are currently offline. Please try sending us a message again later.</p>
            <div class="form-field">
              <input type="text" class="form-input dark" placeholder="Name" v-model="regName" />
            </div>
            <div class="form-field">
              <input type="email" class="form-input dark" placeholder="Email" v-model="regEmail" />
            </div>
            <div class="form-field">
              <textarea class="form-input dark" placeholder="Message" v-model="regMessage"></textarea>
            </div>
            <div class="form-field recaptcha-field">
              <div id="recaptchaWidget" class="g-recaptcha" :data-sitekey="RECAPTCHA_SITE_KEY"></div>
            </div>
            <div class="form-field" v-if="online">
              <button @click="submit">Send</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- News Panel -->
    <div class="news-panel" :style="{ width:newsPanelWidth }">
      <div v-if="this.newsPanelWidth !== '0%'" class="news-panel-wrapper">
        <button class="notice-close-btn" @click="closeArticle()"><font-awesome-icon icon="times"></font-awesome-icon></button>
        <h3>{{ news.heading }}</h3>
        <div class="article-box" :class="{'scrollable':true, 'not-scrollable':false}">
          <div class="subject" v-html="news.subject"></div class="subject">
          <p class="date">{{ news.date.format('DD/MM/YYYY') }}</p>
          <div v-html="news.body"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { eventBus } from '../../main';
  import { mapGetters } from 'vuex';

  export default {
    data () {
      return {
        RECAPTCHA_SITE_KEY: process.env.RECAPTCHA_SITE_KEY,
        regName:'',
        regEmail:'',
        regMessage:'',
        showNotices:true,
        today: new moment(),
        news:null,
        newsPanelWidth:'0%',
        notices: [
          { date:new moment('2018-11-17'), heading:'Alpha Notice', subject:'A couple of things to take note of about Crastino Calendar.', body:'<p>Welcome to the Crastino Calendar alpha release! Please check out the app and see if you like it, but there are a few things to take note of:<p><ul><li>This is the very first version of Crastino Calendar available to the public and as such, many of the features we\'re planning aren\'t live yet. I will of course keep updating this notice board with features, as they become available.</li><li>There\'s most likely going to be bugs, but don\'t let that put you off of Crastino Calendar. I will soon make a platform available on which you can report any bugs you find, as well as suggest any improvements or features you might want.</li><li>Because of all the improvements and features that are going to be deployed on the regular, there will be service interruptions, but again, don\'t fear, as they won\'t last more than a couple of minutes at a time and since I won\'t be updating the server more than once per day, these interruptions won\'t happen more than once per day either.</li><li>I plan to start outsourcing design of Crastino, so that I don\'t have to keep wearing all the hats myself. This will provide us with a professional look and feel, but it also means that some elements of the app, as you know them, are going to change.</li><li>You are, in a way, the pioneers of Crastino, and as a show of thanks I\'m going to remove the ads for your account for free. To claim this reward, all you have to do is register an account and subscribe to promotional news, then once the offer ends, you\'ll have instant, lifetime access to it.</li></ul><p>Please feel free to get in touch with me (via the Contact Us form) with any comments, suggestions, criticism, compliments, or anything else that may be on your mind.<br />- Lee</p>' },
        ],
        catchPhrases: [
          'Work less. Get more done.',
          'A straight forward app for a fast paced life.',
          'We remember so you don\'t have to.',
          '"Technology is the campfire around which we tell our stories."',
          'By Lee Grobler',
          'Every experience is a learning opportunity.',
          'Tomorrow in Latin',
          'Your own personal assistant in your palm.',
          'Crastino Calendar allows you to easily share all the important dates with anyone in your life.'
        ],
      }
    },
    created() {},
    mounted() {
      this.$store.dispatch('setOnline');
      this.initRecaptcha();

      if(this.$route.params.id) {
        let el = document.getElementById(this.$route.params.id);
        el.scrollIntoView();
      }
    },
    computed: {
      ...mapGetters(['online']),
      newsPanelMaxWidth() {
				if(window.innerWidth <= 767 && window.innerWidth <= 1279) return '100%';
				else if(window.innerWidth >= 1280 && window.innerWidth <= 1599) return '70%';
				else if(window.innerWidth >= 1600 && window.innerWidth <= 1919) return '60%';
				else if(window.innerWidth >= 1920) return '50%';
			}
    },
    methods: {
      closeNotices() {
        this.showNotices = false;
      },
      closeArticle() {
        this.news = null;
        this.showPanel(true);
      },
      selectNotice(notice) {
        if(notice.body) {
          this.news = notice;
          this.showPanel();
        }
      },
      showPanel(close) {
				if(this.newsPanelWidth !== '0%' || close) this.newsPanelWidth = '0%';
				else this.newsPanelWidth = this.newsPanelMaxWidth;
			},
      submit() {
				if(this.regName && this.regEmail && this.validEmail(this.regEmail) && this.regMessage && grecaptcha.getResponse()) {
            eventBus.$emit('showSpinner');
						this.$http.post(process.env.SERVER_URL+'contact', {
							name:this.regName,
							email:this.regEmail,
              message:this.regMessage,
              captcha: grecaptcha.getResponse(),
						}).then(ret => {
              // console.log('ret: ', ret);
              eventBus.$emit('hideSpinner');
              eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
              if(ret.body.status === 'success') {
							  this.regName = '';
							  this.regEmail = '';
                this.regMessage = '';
              }
						}, ret => {
							console.log('Error: ', ret);
              eventBus.$emit('hideSpinner');
              eventBus.$emit('showMessage', 'Error', 'An error has occurred. [FE1]', 'failed');
						});
				} else {

          let emptyFields = [];
          if(!this.regName) emptyFields.push('Name');
          if(!this.regEmail) emptyFields.push('Email');
          if(!this.regMessage) emptyFields.push('Message');

          if(emptyFields.length > 0) {
            let msg1 = 'The following required fields were empty: ';
            emptyFields.forEach((field, i) => {
              msg1+=field;
              if(i===emptyFields.length-1) msg1+='.';
              else msg1+=', ';
            });
            eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
          }

          if(!this.validEmail(this.regEmail)) eventBus.$emit('showMessage', 'Warning', 'Please enter a valid email address.', 'warning');

          if(!grecaptcha.getResponse()) eventBus.$emit('showMessage', 'Warning', 'Please confirm that you\'re not a robot.', 'warning');
				}
			},
			validEmail: function(string) {
        let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(string).toLowerCase());
      },
      initRecaptcha: function() {
        var self = this;
        if(grecaptcha.render) {
          setTimeout(function() {
            if(typeof grecaptcha === 'undefined') {
              self.initRecaptcha();
            } else {
              if(grecaptcha && grecaptcha.render) {
                grecaptcha.render('recaptchaWidget', {
                  sitekey:process.env.RECAPTCHA_SITE_KEY,
                  badge:'inline',
                });
              }
            }
          },100);
        }
      },
    }
  }
</script>
<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');
  /*font-family: 'Noto Sans', sans-serif;*/
  /*font-family: 'Ubuntu', cursive;*/
  /*font-family: 'Slabo 13px', serif;*/
  /*font-family: 'Bree Serif', serif;*/

  /* Utility */
  .text-center { text-align: center; }
  .scrollable { overflow-y: scroll; }
  .not-scrollable { overflow-y: hidden; }
  .text-danger { color: #a94442; }

  /* Global  */
  h1, h2, h3 { font-family: 'Noto Sans', sans-serif; }
  h2 { font-size: 2.25em; }
  h3 { font-size: 1.5em; }

  p, a, li { font-family: 'Ubuntu', cursive; }

  .svg-inline--fa.inpage { 
    font-size: 2.5em; 
    color: #3b737d;
  }

  a { 
    text-decoration: none;
    color: #2a4344;
  }

  a:hover { 
    text-decoration: underline;
    color: #2d6564;
  }

  .form-field { margin: 10px 0; }

  .notice-close-btn { 
    position: absolute;
    color: #f2f2f2;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .notice-close-btn:hover { 
    color: #b3b3b3; 
    background-color: initial;
  }

  /* Page */
  .page-root { 
    color : #222;
    background-color: #fff;
  }

  .page-inner { 
    margin: 0 auto 60px;
    padding-bottom: 60px;
    background-color: #6ca8a8;
  }

  /* Opening Section */
  .section1 {
    background-image: url('../../assets/img/back3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    padding: 120px 50px 250px;
  }

  .opening-text {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    width: 70%;
  }

  .opening-text h1 {
    margin: 0;
    font-size: 3.5em;
    padding-bottom: 20px;
    line-height: 1.3em;
  }

  .opening-text p {
    font-size: 1.1em;
    color: rgba(34, 34, 34, 0.7);
    margin-bottom: 0;
  }

  /* Intro Cards */
  .card-row {
    box-sizing: border-box;
    margin: -120px auto 0;
    vertical-align: top;
    width: 100%;
  }

  .card {
    color: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    vertical-align: top;
    width: 33.3333333333%;
    display: inline-block;
  }

  .card-inner {
    background-color: #222;
    height: 350px;
    box-sizing: border-box;
    position: relative;
    padding: 40px;
  }

  .card h3 { margin-bottom: 0; }

  .card p { color: rgba(255,255,255,.5); }

  .card a { 
    position: absolute; 
    bottom: 40px;
    text-decoration: none;
    color: #6ca8a8;
  }

  .card a:hover { 
    text-decoration: underline;
    color: #3b737d;
  }

  /* Getting Started */
  .getting-started {
    margin-top: 60px;
    background: #f9f9f9;
    padding: 50px;
  }

  .getting-started h2 { margin-top: 0; }

  .getting-started .start-step {
    width: 33.3333333333%;
    box-sizing: border-box;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }

  .getting-started .icon {
    padding: 25px;
    background-color: #f2f3f4;
    display: inline-block;
    border-radius: 50%;
  }

  .getting-started h3 { margin: 10px 0; }

  .getting-started p { margin: 0; }

  /* Why Crastino */
  .why-section { 
    padding: 60px 0; 
    background: #f2f2f2;
  }

  .why-section .col {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
  }

  .why-section .col-left { vertical-align: middle; }

  .why-section .col-right {
    padding: 50px 150px 50px 250px;
    vertical-align: middle;
  }

  .why-section .image {
    width: 100%;
    height: 540px;
    background-image: url('../../assets/img/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }

  .why-section h2 { margin-bottom: 0; }

  /* News */
  .news-section {
    background-color: #0d0d0d;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
  }

  .news-section .notice-close-btn { 
    top: 20px;
    right: 20px; 
  }

  .news-section .notice {
    text-align: left;
    border: 2px solid #ccc;
    background-color: rgba(249, 249, 249, 0.25);
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
    width: 15%;
    height: 180px;
    margin: 0 0.75%;
    vertical-align: top;
    color: #f2f2f2;
    position: relative;
    cursor: pointer;
  }

  .news-section h3 { margin: 0; }

  .news-section .notice-body { font-family: 'Ubuntu', cursive; }

  .news-section p { margin-top: 10px; }

  .news-section p.notice-date { 
    position: absolute;
    bottom: 0;
  }

  /* Social Media */
  /* .social-section {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    height: 75px;
  }

  .social-section .social-btn {
    height: 100%;
    position: relative;
  }
  
  .social-btn img {
    height: 100%;
    vertical-align: middle;
  } */

  /* Contact Us */
  .contact-section { margin-top: 60px; }

  .contact-section .col {
    box-sizing: border-box;
    display: inline-block;
  }

  .contact-section .col-left {
    width: 60%;
    vertical-align: middle;
    padding: 50px 150px 50px 250px;
    color: #f2f2f2;
  }

  .contact-section .col-left h2 { margin-top: 0; }

  .contact-section .col-right {
    width: 40%;
    padding: 0 0 30px 0;
    vertical-align: middle;
    background-color: #f9f9f9;
  }

  .contact-section .form { 
    padding: 25px 50px; 
    box-sizing: border-box;
  }

  .contact-section h2 { margin-bottom: 0; }

  .resource-link { display:block; }

  /* News Panel */
  .news-panel {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.95);
		width: 0;
    top: 150px;
		left: 0;
		transition: 0.5s;
		color: #222;
    border-right: 1px solid #ccc;
	}

  .news-panel .notice-close-btn { 
    color: #737373;
    right: 0px; 
  }

  .notice-close-btn:hover { color: #b3b3b3; }

  .news-panel .article-box { height: 430px; }

	.news-panel .news-panel-wrapper { padding: 10px 0 0 20px; }

  .news-panel h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }

  .news-panel .subject {
    margin-top: 0;
    text-transform: uppercase; 
    font-family: 'Ubuntu', cursive;
  }

  .news-panel p.date {
    margin-top: 5px;
    font-style: italic;
    color: #a6a6a6;
    font-size: 0.9em;
  }

  /* Button */
  button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    /* .btn */
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  /* xs */
  @media only screen and (max-width: 767px) {
    /* .opening-text h1 { color: orange; } */

    /* Opening Section */
    .section1 { padding: 120px 10px 250px; }

    .opening-text { width: 100%; }

    .opening-text h1 { line-height: 1em; }

    /* Intro Cards */
    .card { 
      margin-top: 10px;
      padding: 0 10px;
    }

    /* Getting Started */
    .getting-started .start-step { margin-top: 50px; }

    .card, .getting-started .start-step {
      width: 100%;
      display: block;
    }

    /* Why Crastino */
    .why-section .col {
      width: 100%;
      display: block;
    }

    .why-section .col-left { display: none; }

    .why-section .col-right { padding: 0 10px; }

    .why-section .col-right h2 { margin-top: 0; }

    /* News */
    .news-section { padding: 50px 10px 20px; }

    .news-section .notice { 
      width: 98%;
      margin-top: 10px;
    }

    /* News Panel */
    .news-panel { top: 0; }

    /* Contact Us */
    .contact-section { margin-top: 0; }

    .contact-section .col {
      box-sizing: border-box;
      display: block;
    }
    
    .contact-section .col-left {
      width: 100%;
      padding: 50px 10px; 
    }

    .contact-section h2 { margin-top: 0; }

    .contact-section .col-right {
      width: 100%;
      padding: 0 10px;
    }

    .contact-section .form { padding: 25px 0; }
  }

  /* sm */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* .opening-text h1 { color: pink; } */

    /* Why Crastino */
    .why-section .col-left { width: 30%; }

    .why-section .col-right { 
      width: 70%;
      padding: 50px 50px 50px 100px; 
    }

    .why-section .image { height: 360px; }

    /* News */
    .news-section .notice { width: 23%; }

    /* News Panel */
    .news-panel { top: 0; }

    /* Contact Us */
    .contact-section .col-left { padding: 50px 100px; }
  }

  /* lg */
  @media only screen and (min-width: 992px) and (max-width: 1135px) {
    /* .opening-text h1 { color: green; } */

    /* Why Crastino */
    .why-section .col-left { width: 30%; }

    .why-section .col-right { 
      width: 70%;
      padding: 50px 50px 50px 100px; 
    }

    .why-section .image { height: 360px; }

    /* News */
    .news-section .notice { width: 23%; }

    /* Contact Us */
    .contact-section .col-left { padding: 50px 100px; }
  }

  /* lg - xl */
  @media only screen and (min-width: 1136px) and (max-width: 1279px) {
    /* .opening-text h1 { color: cyan; } */

    /* Why Crastino */
    .why-section .col-left { width: 30%; }

    .why-section .col-right { 
      width: 70%;
      padding: 50px 50px 50px 100px; 
    }

    .why-section .image { height: 360px; }

    /* News */
    .news-section .notice { width: 20%; }

    /* Contact Us */
    .contact-section .col-left { padding: 50px 150px; }
  }

  /* xl */
  @media only screen and (min-width: 1280px) and (max-width: 1599px) {
    /* .opening-text h1 { color: blue; } */

    /* Page  */
    .page-inner { width: 95%; }

    /* Intro Cards */
    .card-row { width: 95%; }

    /* Why Crastino */
    .why-section .col-right { padding: 50px 150px; }

    /* News */
    .news-section .notice { width: 20%; }

    /* Contact Us */
    .contact-section .col-left { padding: 50px 150px; }

    /* News Panel */
    .news-panel { 
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; 
    }
  }

  /* xl - xxl */
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    /* .opening-text h1 { color: purple; } */

    /* Page  */
    .page-inner { width: 95%; }

    /* Intro Cards */
    .card-row { width: 80%; }

    /* Getting Started */
    .getting-started { padding: 50px 200px; }

    /* News Panel */
    .news-panel { 
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; 
    }
  }

  /* xxl */
  @media only screen and (min-width: 1920px) {
    /* .opening-text h1 { color: red; } */

    /* Page  */
    .page-inner { width: 90%; }

    /* Intro Cards */
    .card-row { width: 70%; }

    /* Getting Started */
    .getting-started { padding: 50px 250px; }

    /* News Panel */
    .news-panel { 
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; 
    }
  }
</style>