<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view></router-view>
    <vue-snotify></vue-snotify>
    <component :is="comp"></component>
    <!-- Footer goes here -->
  </div>
</template>

<script>
  import { eventBus } from './main';
  import { mapGetters, mapActions } from 'vuex';

  import nav from './components/layout/Nav.vue';
  import spinner from './components/layout/Spinner.vue';

  export default {
    components: {
      'nav-bar':nav,
      'spinner':spinner,
    },
    data () {
      return {
        // slogan:'Tomorrow in Latin',
        comp:'',
        offlineMsg:false,
        loggedOutMsg:false,
      }
    },
    created () {
      // Utility
      eventBus.$on('showMessage', (title, msg, type, sticky) => {
        this.displayNotification(title, msg, type, sticky);
      });
      eventBus.$on('showSpinner', () => {
        this.showSpinner();
      });
      eventBus.$on('hideSpinner', () => {
        this.hideSpinner();
      });

      // Connection & Authentication
      eventBus.$on('logout', () => {
        this.logout();
      });
    },
    computed: {
      ...mapGetters(['online', 'user']),
    },
    methods: {
      ...mapActions(['setUser']),

      // Utility
      showSpinner() {
        this.comp = 'spinner';
        eventBus.$emit('disableNav');
      },
      hideSpinner() {
        this.comp = '';
        eventBus.$emit('enableNav');
      },
      displayNotification(title, msg, type, sticky) {
        let options = {};
        if(sticky) {
          if(typeof sticky === 'object') options = sticky;
          else {
            options = { 
              timeout:3000000,
              buttons:[{text: 'Thanks', action: null, bold: true}],
              backdrop:0.5,
              bodyMaxLength:500
            }
          }
        }

        if(!title) {
          if(type === 'failed') title = 'Error';
          else title = type.substring(0,1).toUpperCase()+type.substring(1,type.length);
        }

        if(type === 'failed' || type === 'error' || type === 'danger') {
          this.$snotify.error(msg, title, options);
        } else if(type === 'warning') {
          this.$snotify.warning(msg, title, options);
        } else if(type === 'success') {
          this.$snotify.success(msg, title, options);
        } else if(type === 'info') {
          this.$snotify.info(msg, title, options);
        } else {
          this.$snotify.simple(msg, title, options);
        }
      },
      logout() {
        return new Promise((resolve, reject) => {
          this.$http.get(process.env.SERVER_URL+'user/logout', {
            headers: { 'x-auth':this.user ? this.user.token : null }
          }).then(ret => {
            // console.log('ret: ', ret);
            this.setUser(null);
            this.$router.push('/user/login');
            resolve();
          }, err => {
            resolve();
          });
        });
      }
    },
  }
</script>

<style>
	@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Jura|Slabo+13px|Lobster|Noto+Sans|Ubuntu');

  /*font-family: 'Noto Sans', sans-serif;*/
  /*font-family: 'Ubuntu', cursive;*/
  /*font-family: 'Slabo 13px', serif;*/
  /*font-family: 'Bree Serif', serif;*/

  #app { height: 100%; }
</style>
